.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.857);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;   
}
